*{
    font-family: 'Fredoka One', cursive;
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

.titolo{
    color: #e53170;
    font-weight: bolder;
    text-align: center;
}

.lorem{
    text-align: center;
    margin-top: 50px;
}

.contenitore{
    height: 500px;
    width: 80%;
    margin: auto;
    justify-content: center;
}

.cardpersonale{
    background-color: #0f0e17;
    width: calc(30% - 15px);
    margin: 30px;
    float: left;
    height: 112px;
    padding: 0;
    vertical-align: middle;
    box-shadow: 4px 0px 11px 6px #888888;
}

img{
    padding: 0;
    height: 7rem;
    float: left;
    margin-right: 1rem;
}

.nome{
    font-size: 20px;
    margin-top: 8px;
}

.professione{
    font-size:15px;
    font-weight: 100;
    margin-top: 8px;
}

.colorwhite{
    color: white;
}

.email{
    font-size: 15px;
    color:#48bde0;
    margin-top: 8px;
}

.cardconteiner{
    display: flex;
    justify-content: center;
}