*{
    font-family: 'Fredoka One', cursive;
    margin: 0px;
    padding: 10px;
    box-sizing: border-box;
}

.titolo{
    color: #e53170;
    font-weight: bolder;
    text-align: center;
}

.contenitore{
    text-align: center;
}

.cardpersonale{
    background-color: #0f0e17;
    width: calc(25% - 15px);
    margin-right: 15px;
    margin-bottom: 15px;
    float: left;
}

img{
    padding: 0;
    height: 7rem;
    float: left;
    margin-right: 1rem;
}

.testocard{
    height: 7rem;
    padding: 10px 10px 10px 0;
    vertical-align: middle;
}

.nome{
    font-size: 20px;
}

.professione{
    font-size:15px;
}

.colorwhite{
    color: white;
}

.email{
    padding: 0;
    font-size: 15px;
    color:#48bde0
}