*{
    font-family: 'Poppins', sans-serif;
    margin: 0px;
    padding: 10px;
    box-sizing: border-box;
}

.titolo{
    color: #e53170;
    font-weight: bolder;
    text-align: center;
}

.paragrafo{
    text-align: center;
}